.form-display{
    position: absolute;
    top: 90%;
}

.order-summary{
    position: absolute;
    top: 120%;
}

.info_display{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}