.form-display{
    position: absolute;
    top: 90%;
}

.order-summary{
    position: absolute;
    top: 120%;
}

.info_display{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.item{
    flex-basis: 100px;
    height: 100px;
    margin: 5px;
    width: 50%;
}

.map{
    display: flex;
}

.map_item{
    width: 50%;
    margin-top: 2%;
}

.map_item p{
    padding-left: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .blue-column {
    height: 50px;
    text-align: center;
    /* border: 1px solid black; */
  }
  
  .green-column {
    height: 50px;
    /* border: 1px solid black; */
  }

.summary_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

.summary_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

.order_stuff{
    margin-top: 10%;
    width: 100%;
    height: 40%;
}