.about{
    position: absolute;
    background: #2193b0;  
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
    background: linear-gradient(to right, #48AAD4, #2193b0); 
   
    height: 84vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_info{
    position: absolute;
    top: 50px;
    width: 40%;
    margin: 0 100px;
}
.water{
    text-align: center;
}