a{
    text-decoration: none;
    color: black;
}

.active{
    border-bottom: 4px solid #3a8a9e;
}

.header{
    background: linear-gradient(to right, #48AAD4, #2193b0); 
    border-bottom: 1px dashed #54DBFD;
    z-index: 10;
}

.header_width{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.header_links__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.15rem;
    list-style-type: none;
    text-transform: uppercase;
    margin-left: 300px;

}

.header_links__li{
    margin-right: 50px;
}


.header_links__a{
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
}

.login_link{
    font-weight: 700;
    padding: 10px 30px;
    cursor: pointer;
}

.header_links__a:hover{
    border-bottom: 4px solid #54DBFD;
}

.header_a{
    color: white;
    margin: 2px 95px;
    width: 15px;
}

.header_a h3{
    font-size: 1.875rem;
    font-weight: 600;
    color: black;
}

.login{
    border: 1px solid #C8F1F5;
    border-radius: 5%;
    padding: 10px 10px;
    background-color: #14DEFA;
    cursor: pointer;
}
